/* <!-- I selettori CSS ti aiutano a selezionare elementi HTML tramite CSS e JavaScript.

Con questi esercizi farai pratica nell'utilizzarli sia per modificare lo stile di elementi HTML sia nel selezionarli per manipolarli via JavaScript
I selettori CSS sono estremamente utili per selezionare nodi del DOM con precisione grazie al fatto che funzionano perfettamente con querySelector,
senza necessità di scrivere algoritmi più complessi per arrivare allo stesso risultato.


IMPORTANTE: NON PUOI inserire classi o id aggiuntivi nell'HTML, devi usare solo quello che già c'è. Non puoi cambiare la struttura in nessuna maniera. L'obiettivo è quello di usare Selettori e Combinatori per arrivare a selezionare l'elemento di interesse per poi manipolarlo nello stile o nella struttura con JS.

Per testare i Selettori CSS puoi cambiare all'elemento che stai cercando di selezionare il colore, colore di sfondo, aggiungere un bordo colorato ecc. Se il selettore è corretto vedrai applicare quello stile all'elemento, se non succede significa che il selettore non è corretto o qualche altra regola CSS sta prevalendo. Controlla sempre dall'inspector del browser. */

/* ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron */
.jumbotron > div > h1{
    color:gold;
}
/* ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar */
nav.nav > * {
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 3px;
}
/* ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron */
.jumbotron > div > p:last-of-type  > a{
    background-color:lightskyblue;
    color: white;
    padding: 5px;
    border-radius:30px
}
/* ESERCIZIO 4) Crea un selettore per selezionare il primo blog post */
main > .row > div.blog-main > .blog-post:first-of-type{
    color:cornflowerblue
}
/* ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso */
main > .row > div.blog-main > .blog-post:first-of-type > hr{
    background-color: red;
}
/* ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar */
nav.nav > span:nth-child(even){
   color: white;
   background-color: rgb(59, 59, 59);
}
/* ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio") */
.blog-sidebar > div:nth-of-type(2) > ol > li{
    padding: 2px;
    border: 1px solid lightslategray;
    margin-bottom: 5px;
}
/* ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post */
main > .row > div.blog-main > .blog-post:nth-child(3) > .blog-post-meta > a{
    color: gold;
    font-weight: 600;
}
/* ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post */
main > .row > div.blog-main > .blog-post:nth-child(4) > ul > li:nth-child(2){
    font-weight: 600;
    color: coral;
}
/* ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra */
body > footer + a{
    background-color: lightcoral;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}
/* ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso */
nav.blog-pagination > a:last-child{
    background-color: blue;
    color: white
}
/* ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer */
footer > p > a:last-child{
    color: chocolate;
}
